{% extends 'base.html'%}

{%block conteudo%}
  
  <h1 class="mt-5">{{ contact.first_name }} {{ contact.lastName }}</h1>
   <dl>
    {% if contact.photo %}
     <p>
       <img src="{{ contact.photo.url }}" style="max-width: 250px; height: auto;">
     </p>
    {%endif%}
  <dl>
    <dt>ID</dt>
    <dd>{{ contact.id }}</dd>

    <dt>Telefone</dt>
    <dd>{{ conctact.telephone }}</dd>

    <dt>E-mail</dt>
    <dd>{{ contact.email }}</dd>

    <dt>Data criação</dt>
    <dd>{{ contact.date_created|date:'d/m/Y' }}</dd>

    <dt>Categoria</dt>
    <dd>{{ contact.category }}</dd>

    <dt>Descrição</dt>
    <dd>
      {{ contact.describe }}
    </dd>
  </dl>

{%endblock%}
