{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
  <title>Agenda </title>
  
  {% include 'parciais/_head.html'%}


</head>

<body>
  {% if user.is_authenticated %} 
    {% include 'parciais/_nav.html' %}
  {% endif %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      
      {% if 'accounts' not in request.path %}
      
        {% if messages %}
            {% for messages in message %}
              {{ message }} {{ message.tags }}
            {%endfor%}
        {%endif%}
             
        </form>
      {% endif %}
       {%block conteudo%}{%endblock%}
      </div>
    </div>
  </div>
 
 <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>